
h1.logeado{
    text-align: center;
    font-style: italic;
}
div.login{
    text-align: center;
    margin: 0 40%;
    border: 2px solid rgb(61, 61, 117);
    border-top:none ;
    padding: 10px;
}
div.login input{
    margin-bottom: 10px;
}
.btnLogin{
    color: rgb(61, 61, 117);
    border-color: rgb(4, 4, 53);;
}
.btnLogin:hover{
    background-color: rgb(4, 4, 53);
    color:rgb(255, 255, 255);
}
img[src="images/login.jpg"]{
    border-bottom: 2px solid rgb(61, 61, 117);
    display: block;
    margin: auto;
}
.anchorLista{
    color: black;
    text-decoration: none;
} 
.anchorLista:hover{
    color: black;
    text-decoration:solid underline 1px black;
    font-size: 110%;
}
div.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.lista h1{
    width: 100%;
    text-align: center;
}
div.lista img{
    width: 25%;
    
}
div.lista ul{
    width: 40%;
}
img[src="images/casas.jpg"]{
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 30%;
}
.formAddEdit{ 
    text-align: center;
    margin: 5% 10%;
}
.formAddEdit label{
    width: 100%;
}
.formAddEdit input,.formAddEdit select{
    width: 60%;
    margin: 5px 0 20px 0;
    border-radius: 4px black;
    box-shadow: 1px 1px 1px black;
}
.formAddEdit button,.btnLogIn{
    font-style: italic;
    padding: 15px;
    background-color: rgb(80, 41, 10);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.btnLogIn{
    padding: 5px 10px;
}
div.details{
    margin: 5% 30%;
    padding: 5px;
    border-radius: 4px;
}
label.details,div.infoHouse div label{
    width: 100%;
    margin: 5px 0;
}
label.details span,div.infoHouse div span{
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}
.contenedorHouse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 7%;
}
div.infoHouse{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
div.personajesHouse{
    width: 30%;
}
div.infoHouse div{
    width: 65%;
}
div.infoHouse img{
    width: 25%;
    min-width: 100px;
}